html {
    background-color: #737477;
    text-align: center;

}
button {
    width: 300px;
}
.equipment {
    display: inline-block;
    width: 300px;
}
.hirelings {
    display: inline-block;
    width: 300px;
}
.devTools {
    display: none;
}
#iWin {
    display: none;
    color: #85aae5;
}
