html {
    background-color: #737477;
    text-align: center;
    font-family: monospace;

}
button {
    width: 300px;
}
.equipment {
    display: inline-block;
    width: 300px;
}
.hirelings {
    display: inline-block;
    width: 300px;
}
.devTools {
    display: nonE;
}
#iWin {
    display: none;
    color: #85aae5;
}
#orcClick1 {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    background-color: #b70303;
    height: 60px;
}
#autoFarmCount1 {
    display: inline-block;
    width: 300px;
    vertical-align: top; 
    background-color: #b70303;
    height: 60px;
}
h4 {
    text-decoration: none;
}
