img {
    width: 200px;
    text-align: center;
}
body {
    text-align: center;
    font-family: "Arial";
    color: #c60f16;
}
html {
    background-color: black
}
body a {
    font-family: fantasy;
    text-decoration: none;
    color: red;
}
p {
    margin-left: 50px;
    margin-right: 50px;
}