body {
    color: red;
    font: helvetica;
  
}
p{
    color: #13c625;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}
html {
    background-color: #600e60;
} 
h1 {
    text-align: center;
    background-color: blue;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
h2 {
    text-align: center;
    background-color: blue;
}
body {
    border: 20px solid black;
    border-radius: 155px;
}