html {
    background-color: white;
}
body {
    text-align: center;
    color: black;
    font-family: "Space Mono", serif;
}
ol {
    text-align: left;
    font-size: 14px;
    
    
}
p {
    font-size: 5px;
}
img {
    border: 0px solid black;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 90%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    vertical-align: top;
    margin-top: 35px;
}
.display {
    display: inline-block;
}
.imgleft {
    display: inline-block;
}
.imgright {
    display: inline-block;
}