html {
    background-color: white;
    font-family: Lucida;
    margin: 0px;
    padding: 0px;
}
canvas {
    background-color: grey;
    /*border: 1px solid black; */
    margin: 0px;
    padding: 0px;
}
img {
    display: none;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
}